* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 375px;
  height: 667px;
  font-family: "Outfit", sans-serif;
  font-size: 0.9375rem;
  background-color: #0D192C;
  color: #8BACD9 ;
}
.card{
  padding: 1.5rem;
  width: 327px;
  background-color: #15263F;
  border-radius: 0.9375rem;
}

@media screen and (width >=600px) {
  .card{
    width: 350px;
  }
}

.icon-view{
  position: absolute;
  top: 200px;
  left: 165px;
  opacity: 0;
}
.title{
  margin: 24px 0 12px;
  font-weight: 600;
  font-size: 1.375rem;
  color: white;
}
@media screen and (width >=600px) {
  .title{
    margin: 24px 0 16px ;
  }
  
}

.text{
  margin: 0;
  font-weight: 300;
  font-size: 1.125rem;
}

.card-info{
  display: flex;
  justify-content: space-between;
  padding:  1rem 0;
  border-bottom: 1px solid #979797;
}

@media screen and (width >=600px) {
  .card-info{
    padding: 1.5rem 0;
  }
  
}

.cositas{
  display: flex;
  gap: 0.3125rem;
}
.bold{
  font-weight: 600;
  color: #00FFF8 ;
}
.card-avatar{
  display: flex;
  align-items: center ;
  gap: 1rem;
  padding-top: 1rem;
}

@media screen and (width >=600px) {
  .card-avatar{
    padding-top: 1.5rem;
  }
  
}

.avatar{
  width: 33px;
  height: 33px;
  border: 1px solid white;
  border-radius:50% ;
}
.text-card{
  margin: 0;
}